{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ontology_auth/left-nav-style.css' %}">
    <link rel="stylesheet" href="{% static 'ontology_auth/style_ontology_list.css' %}">

    <link rel="stylesheet" href="{% static 'ontology_auth/style_profile.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'ontology_auth/favicon.ico' %}" />
    <title>Профиль</title>
</head>

<body>
    <!-- 
    Скрытый checkbox, отвечающий за переключение панели, должен быть в верхней части документа, лучше сразу после тега `<body>`

    `id` атрибут предназначен для связки с атрибутом `for` тега <label>

    Атрибут `hidden` указывает состояние «скрытый» у текущего элемента
    -->
    <input type="checkbox" id="nav-toggle" hidden>
    <!-- 
    Выдвижную панель размещаете ниже
    флажка (checkbox), но не обязательно 
    непосредственно после него, например
    можно и в конце страницы
    -->
    <nav class="nav">
        <!-- 
    Метка с именем `id` чекбокса в `for` атрибуте
    Символ Unicode 'TRIGRAM FOR HEAVEN' (U+2630)
    Пустой атрибут `onclick` используем для исправления бага в iOS < 6.0
    См: http://timpietrusky.com/advanced-checkbox-hack 
    -->
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <!-- 
    Здесь размещаете любую разметку,
    если это меню, то скорее всего неупорядоченный список <ul>
    -->
        <h2 class="logo">
            <a href="//UTMN.SU/">UTMN.SU</a>
        </h2>
        <ul>
            <li>
                <a href="{%url 'add_ontology' %}">Создание онтологии</a>
                <li><a href=" {%url 'ontology_list_1' %} ">Список онтологий</a>
                    <li><a href="{%url 'profile' %} ">Личный кабинет</a> {% if request.user.is_authenticated %}
                        <li><a href="{%url 'logout' %} ">Выйти</a> {% else %}
                            <li><a href="{%url 'auth' %} ">Войти</a> {% endif %}


        </ul>
    </nav>
    <main role="main ">
        <section style="padding-left: 48px; ">

            {% if request.user.is_authenticated %}
            <h1> Добро пожаловать, {{ user.get_username }}</h1>
            <h2>Список ваших онтологий:</h2>

            <div id="my_ontology_list ">
                <table class="table-2 ">
                    <thead class="inter-fz ">

                        <th>Наименование онтологии</th>
                        <th>Доступность онтологии</th>
                        <th>Дата создания онтологии</th>
                        <th>Создатель онтологии</th>
                        <th></th>
                    </thead>
                    {% for ontology in my_ontologys %}
                    <div class="inter-fz " gap="20px ">
                        <tr>
                            <td class="inter-fz-1 " onclick="window.location.href='/ontology/{{ ontology.id }}' ; return false ">{{ontology.name}}</td>
                            <td class="inter-fz-1 " onclick="window.location.href='/ontology/{{ ontology.id }}' ; return false ">{{ontology.access}}</td>
                            <td class="inter-fz-1 " onclick="window.location.href='/ontology/{{ ontology.id }}' ; return false ">{{ontology.created_at}}</td>
                            <td class="inter-fz-1 " onclick="window.location.href='/ontology/{{ ontology.id }}' ; return false ">{{ontology.owner}}</td>
                            <td>
                                <form action=" " method="get ">
                                    <button class="button inter-fz-1 " name="delete_ontology " value="{{ ontology.id }} ">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </div>
                    {% empty %}
                    <div class="title_weapper inter-fz fs-2 " style="margin-left:20px; ">
                        <p>У вас пока нет онтологий!</p>
                    </div>
                    {% endfor %}
                </table>
            </div>

            {% else %}
            <h1>Вы не авторизированы, <a href="{% url 'auth'%} ">авторизируйтесь</a> </h1> {% endif %}
        </section>
    </main>
</body>


</html>