<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Объект {{rdf_type.name}}</title>
    <link rel="stylesheet" href="{% static 'ontology_auth/detail.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'ontology_auth/favicon.ico' %}" />
    <script src="{% static 'ontology_auth/rdf_type_detail.js' %}"></script>
</head>

<body>
    <div class="title_weapper inter-fz fs-2" gap="20 px">
        Предикат
    </div>
    <form method="POST" action="/rdf_type/{{rdf_type.id}}/update">
        {% csrf_token %}
        {{form.name.label_tag}}
        <div>{{form.name}}</div>
        {{form.description.label_tag}}
        <div>{{form.description}}</div>
        
        <div class="container-1">
            {{form.subject.label_tag}}
            <div>{{form.subject}}</div>
            {{form.object.label_tag}}
            <div>{{form.object}}</div>
            {{form.ontology.label_tag}}
            <div>{{form.ontology}}</div>
        </div>
        <div>
            <button class="button inter-fz fs-6" type="submit" id="subm" name="subm_ont" value="{{ rdf_type.id }}">Сохранить</button>
        </div>
    </form>
    
    
    {% if request.user.is_authenticated %}
    {% if request.user.id == rdf_type.ontology.owner.id %}
    <button class="button" onclick="edited()" id="edit">Редактировать</button>
    {% endif %}
    {% endif %}
    
    
</body>

</html>