{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ontology_auth/style_register.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'ontology_auth/favicon.ico' %}" />
    <title>Регистрация</title>
</head>



<body>

    {% if field.errors%} {% for error in field.errors %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% endfor %} {% endif %}


    <div class="auth_wrapper_w  d-flex flex-column align-items-center justify-content-center gap-3">
        <div class="create_account">
            Регистрация
        </div>
        <form method="POST">
            {% csrf_token %}


            <div class="a_wrapper">
                <div class="authh_wrapper d-flex flex-column gap-3">
                    {{ form.username}} {{ form.email}} {{ form.password1}}

                    <button class="btn-reg" type="submit">Регистрация</button>


                </div>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'auth'%}">Вход</a>
            </small>
        </div>
    </div>
</body>

</html>