{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if field.errors%}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Зарегистрируйтесь пожалуйста)</legend>
                {{ form}}
            </fieldset>



            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'auth'%}">Вход</a>
            </small>
        </div>
    </div>
</body>
</html>