@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {height: 100%;}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.create_account{
    font-size: 24px;
    font-family: "Inter";
    font-weight: bold;
}

.btn-auth {
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 1px black solid;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    padding: 10px;
}
.ipt_st {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 8px;
}
input[type="text"] {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 8px;
    width: 100%;
}
input[type="password"] {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 8px;
    width: 100%;
}

.forgot_password{
    color:#828282
}
.auth_wrapper_w{
    width: 100%;
    height: 100%;
}

input[type="text"]::-webkit-input-placeholder {
    color: #828282;
    font-weight: 350;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    padding-left: 10px;

}
input[type="text"]::-moz-placeholder {
    color: #828282;
    font-weight: 350;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    opacity: 1;
;
}


.auth_wrapper {
    width: 400px;
}