@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-fz {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.inter-fz-1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
tbody td:hover {
    background: #828282; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }
.center_content {
    padding: 120px;
}

.btn_wrappr>button {
    background-color: #E0E0E0;
    border-radius: 8px;
    border: #E0E0E0;
    width: 300px;
    height: 50px;
    color: #black;
    font-family: "Inter", sans-serif;
    padding: 3px, 3px, 3px, 3px;

}
.btn_wrappr_1>button {
    background-color: #E0E0E0;
    border-radius: 8px;
    border: #E0E0E0;
    width: 300px;
    height: 50px;
    color: #black;
    font-family: "Inter", sans-serif;
    padding: 3px, 3px, 3px, 3px;

}
.btn_wrappr_1:hover {
    background-color:#828282;
    transition: 0.7s;
}
.ipt_wrapper>input {
    width: 467px;
    color: gray;
    border-radius: 8px;
    border: #E0E0E0 solid 1px;
    padding-left: 10px;
    
}


.inter-font-64 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.pd-64 {
    padding-top: 32px;
}

.fs-36
{
    font-size: 24px;
}

/* input[type="email"]::-webkit-input-placeholder {
    
    color: gray;
    font: 18px;
}
input[type="email"]::-moz-placeholder {
    text-align: center;
    color: gray;
} */


.g-color{
    color: #828282;
}


body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}